@import url("preferred.css?v=1.4");
nav { /* show arrow */
   width: 28px;
   height: 30px;
   overflow: hidden;
   display: inline-block;
}
input[value="show"]:checked ~ nav, nav:hover {
   width: auto;
   height: auto;
   overflow: visible;
}
nav .btn {
   background-color: orange;
   background-image: none;
   text-shadow: none;
   padding-top: 3px;
   color: blue;
   width: 100%;
}
nav .btn:hover {
   background-color: #FF7800;
}
nav > ul > li > .btn:before {
   background: transparent url('arrow_blue.png') no-repeat 0px 1px;
   height:32px;
   width: 22px;
   float:left;
   content: '';
   transition: all 0.5s ease-in-out;
}
nav > ul > li > .btn:hover:before {
   /* background-position:0 0; */
   -moz-transform:     rotate(90deg);
   -webkit-transform:  rotate(90deg);
   -o-transform:       rotate(90deg);
   -ms-transform:      rotate(90deg);
   transform:          rotate(90deg);
}

