html { height:100%; }
body, thead {
   font-family: sans-serif;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
   background: #1e5799; /* Old browsers */ /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

table {
border: 1px solid #1e5799;
border-collapse: collapse;
width: 90%;
margin: auto;
}

table thead {
   text-align: center;
   font-style: italic;
   font-weight: bold;
   color: white;
}

table td {
border-left: 1px  solid #1e5799;
border-right: 1px solid #1e5799;
}

table td:first-child {
border-left: none;
}

table td:last-child {
border-right: none;
}

table tr:nth-child(even){
   background-color: #CEE7F0;
}
.content {
   display:block;
   background-color: #FFFFFF;
   padding: 0 0.8em 0 0.8em;
   float:left;
   transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
   -moz-transition: all 1s ease-in-out; /** Firefox **/
   -o-transition: all 1s ease-in-out; /** Opera **/
}
content h1 {
   width: 100%;
}
.v {
   margin-left:185px;
}
.shadow {
        box-shadow: 3px 3px 5px 5px #404040;
}
.rounded {
   border-radius: 8px;
}
a,h1,h2,h3,h4,b,strong {
        color: #222C51;
}
a {
   text-decoration: none;
}
code,pre {
   background-color: #ccc;
   background-color: rgba(255,255,255,0.8);
   display:inline-block;
   max-width:100%;
   overflow: hidden;
   text-overflow: ellipsis;
}
/* pop-out external link indicator */
a:hover:not(.myButton)[href*="//"]:not(.socIcon) {
    background: url('../images/externallink.png') center right no-repeat;
    padding-right: 13px;
}

/* responsive web design features */

/* use available screen area if display shrinks below 600px */
@media only screen and (max-width: 600px) {
   .content {
      width:calc(100% -10)px;
      padding: 0 5px 0 5px;
      margin: 0;
      box-shadow: 0;
      border-radius: 0;
   }
   body {
      margin: 0;
      padding: 0;
   }
}

/* use two column layout if screen grows past 900px */
@media only screen and (min-width: 900px) {
   .content {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      column-rule: inset #BFBFBF;
   }
}
