@import url("preferred.css?v=1.4");
nav .btn {
   background-image:url('button_green.png');
}
nav > ul > li > .btn:before {
   background:url('xmas/snowflake18.gif') no-repeat 2px 4px;
   height:22px;
   width: 24px;
   float:left;
   content: '';
   transition: all 0.5s ease-in-out;
}
nav > ul > li > .btn:hover:before {
   /* background-position:0 0; */
   -moz-transform:     rotate(60deg);
   -webkit-transform:  rotate(60deg);
   -o-transform:       rotate(60deg);
   -ms-transform:      rotate(60deg);
   transform:          rotate(60deg);
}

body {
   background-image:url('xmas/christmas-background-with-gifts-and-baubles_1048-3438.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}
.content {
   background-color: rgba(255,255,255,0.8);
}
